@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:where(.dark, .dark *));
@layer utilities {
  .scrollbar-hide {
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* CUSTOM LÀM ĐẸP NHỮNG THANH TRƯỢT (SLIDER) CỦA PLAYER */
  .custom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  .custom-slider::-webkit-slider-thumb:hover {
    transform: scale(1.3);
  }
  
  .custom-slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    transition: transform 0.2s ease;
  }
  .custom-slider::-moz-range-thumb:hover {
    transform: scale(1.3);
  }
}
